
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" tppabs="http://v3.bootcss.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" tppabs="http://v3.bootcss.com/examples/jumbotron/jumbotron.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="html5shiv.js" tppabs="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="respond.min.js" tppabs="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .one{
            border-bottom:1px solid #ccc;
        }
    </style>
   
  </head>

  <body>

    <%- include("./header.ejs",{"active":""}) %>

 

    <div class="container">
      <!-- Example row of columns -->
         <div class="row col-lg-6">
            <h1><%=user%>的个人主页</h1>
            <p><img src="/avartar/<%=useravartar%>" alt=""></p>

            <%for(var i=0;i<usershuoshuo.length;i++){%>
                <div class="one">
                    <p> <%=usershuoshuo[i].content%></p>
                    <p> <%=usershuoshuo[i].date%></p>
                </div>
            <%}%>

        </div>
    </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->

   
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.1.1.js" tppabs="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" tppabs="http://v3.bootcss.com/dist/js/bootstrap.min.js"></script>
    <script src="/js/underscore.js"></script>
           
    
  </body>
</html>